[submodule "flask"]
	path = flask
	url = git@github.com:appstew/flask
[submodule "html5up.com"]
	path = html5up.com
	url = git@github.com:appstew/html5up.com
[submodule "streamlit"]
	path = streamlit
	url = git@github.com:appstew/streamlit
[submodule "learning-PyFladesk-rss-reader"]
	path = learning-PyFladesk-rss-reader
	url = git@github.com:appstew/learning-PyFladesk-rss-reader.git
[submodule "learning_electron"]
	path = learning_electron
	url = git@github.com:appstew/learning_electron.git
[submodule "learning_react"]
	path = learning_react
	url = git@github.com:appstew/learning_react.git
